
<h1>Welcome!</h1>

<textarea id="some-textarea" placeholder="Enter text ..."></textarea>
<script type="text/javascript">
    $('#some-textarea').wysihtml5();
</script>



<div id="container">

  <div id="aside1">
    Contact<br>
    Work: 713.952.9099<br>
    Cell: 832.654.1288<br>
    Fax: 832.553.7877<br>
    <a href="mailto:hotdoggroominghouston@gmail.com"?
       Subject="Hello! I'm interested in your grooming
       service for my pet!" target="_top">Email</a>
    <br>
    <a href="www.facebook.com/hotdoggroominghouston">
      Find us on Facebook!
    </a><br>

    <br>

  </div>


  <div id="aside2">
    Business hours:<br>
    Monday-Friday 7am-5pm<br>
    Drop Off Time 7am-9am for <br>
    Grooms and Baths<br>
    Saturday 8am-3pm<br>
    Drop Off Time 8am-9am for <br>
    Grooms and Baths<br>
    Appointment is Required<br>
    No walk ins<br>
    Closed Sunday<br>

  </div>

    <div id="section">

      <p>Welcome to Hot Dog Grooming, where we consider the care of your best friend our priority.
      We provided full-service grooming and excellent pet care for the Westchase/Memorial area.</p><br>
      <p>No matter what size, shape, color, or breed, we believe your dog deserves the best.
      If you truly love your pet (and we know you do!) you'll be quick to understand the difference that makes Hot Dog Grooming such a doggone special place.</p><br>
      <p>To see for yourself, please give us a call anytime!</p><br>
    </div>



</div>


