// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.client_left {
  width: 60%;
  float:left;
}

.client_right {
  width: 40%;
  float:left;
  overflow-x:auto;

}

#client_left_nav {
  width: 10%;
  float: left;
  padding-right: 5px;
}

#client_info_middle {
  width: 30%;
  float: left;
  padding-right: 5px;
}

#client_pet_right {
  width: 60%;
  float: left;
}

#client_authorized_person {
  width: 40%;
  float: left;
}
