<h1>New Grooming Visit for <%= @grooming.pet.pet_name.upcase %></h1>

<%= render 'form' %>

<%= link_to 'Back to ' + @pet_name + '\'s Profile' , pets_show_path(id: @pet_id), :class=> "btn btn-info"  %>
